@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto.ttf");
}

@media (max-width: 768px) {
    .section {
      width: 100%;
    }
}

html {
    scroll-behavior: smooth; 
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    color: #4d2323;
}
    
.header {
    display: block;
    background-color: #d7d1c9;
}
    
.footer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #d7d1c9;
    padding: 15px
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    color: black;
    text-decoration: none;
    transition: .3s;
}

.mcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ebebeb;
}

.section {
    width: calc(50% - 20px);
    background-color: #ebebeb;
    padding: 6px;
    padding-bottom: 5px;
    color: #000;
}

.photo {
    background: #d7d1c9;
    border-radius: 300px;
    width: 250px;
    padding: 10px;
}

.section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
    border-bottom: 15px solid #d7d1c9;
}

.title-h1 {
    padding: 5px;
    margin: 10px;
    border-bottom: 3px solid #666058;
}

.section-title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #3b3b3b;
}

.section-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 0px 120px;
}

.for-ul {
    list-style: none;
}

.section-r {
    position: relative;
    width: 1440px;
    height: 112px;
    margin: 6px;
    padding: 10px;
    border: 100px;
    background-color: #ebebeb;
}

.pre {
    display: block;
    font-family: monospace;
    white-space: pre;
}

.footer-href {
    color: #000;
    text-decoration: none;
}